body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  text-align: center;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

h3 {
  font-size: 21px;
  color: gray;
  font-weight: 300;
}

.page-hero {
  margin-top: 30px;
}

a {
  color: aquamarine;
  font-size: 16px;
  margin-bottom: 40px;
}

footer img {
  margin-top: 25px;
}

footer h3 {
  text-align: right;
  color: gray;
}

